.styleCard{
    display: flex;
    justify-content: center;
}
.card{
    background: #FFFFFF;
    border: 1px solid rgba(231, 235, 237, 0.80141);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
}
.inf{
    padding-left: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #425A60;
}
.rect{
    padding-left: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');